/* Ready to be styled! */
* {
    margin: 0;
}

div {
    padding: 5px;
}
div form {
    background-color: red;
}

/* Styles for when the library is displayed */
.book.card {
    background-color: green;
}